body {
  margin: 0;
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.scene {
  background-color: lightblue;
}
.container {
  position: relative;
  box-sizing: border-box;
}
.prompt {
  display: none;
  position: absolute;
  bottom: 0;

  width: calc(100% - 8px);
  height: calc(4rem - 8px);
  background-color: lightblue;
  text-align: left;
  padding: 4px;
}
.prompt--active {
  display: block;
}

.controls {
  margin-top: 1rem;
}
.controls button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px 5px;
}

.controls__direction {
  /*  */
}

.controls__select {
  /*  */
}
