body {
  margin: 0;
  display: flex;
  flex-flow: column;

  min-height: 100vh;
}

body > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.scene {
  background-color: lightblue;
}
.container {
  position: relative;
  box-sizing: border-box;
}
.prompt {
  display: none;
  position: absolute;
  bottom: 0;

  width: calc(100% - 8px);
  height: calc(4rem - 8px);
  background-color: lightblue;
  text-align: left;
  padding: 4px;
}
.prompt--active {
  display: block;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
}
.controls button {
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px 5px;
}

.controls__direction {
  display: flex;
  flex-flow: column;
  margin-right: auto;
}
.direction-button {
  width: fit-content;
}
.direction-button[data-direction="down"],
.direction-button[data-direction="up"] {
  margin-left: auto;
  margin-right: auto;
}
.direction-button[data-direction="left"] {
  margin-right: 1rem;
}

.controls__select {
  display: flex;
  flex-flow: column wrap;
}
.select-button[data-select="a"] {
  margin-top: 1rem;
  margin-left: auto;
}
.select-button[data-select="b"] {
  margin-right: 1rem;
}
